ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: blue;
}

* {
    box-sizing: border-box;
    outline: 1px solid red !important;
}

header {
    color: blue;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 20px;
    padding: 20px;
}

.nav__group {
    display: flex;
}

.nav__item {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
}

.content {
    position: relative;
}

.content__text {
    font-size: 80px;
    position: absolute;
    top: 60%;
}

.content__block {
    background-color: blue;
    height: 40%;
    width: 80%;
    position: absolute;
    top: 80%;
    z-index: 0;
}

.content__firstview {
    display: block;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    z-index: 10;
}